References
Thesis_write_up
Proposal/WorkingDocuments
*.rds
*.pdf
Analysis/Runs_Countries/*/Plate_Data.csv
Analysis/Runs_Countries/*/SampleSheet.csv
Analysis/Runs_Countries/*/*/HPC_Results
Analysis/Runs_Countries/Taiwan_Vietnam_2016/Taiwan/Filtering
Analysis/Runs_Countries/Taiwan_Vietnam_2016/Taiwan/Plots
Analysis/Runs_Countries/Taiwan_Vietnam_2016/Taiwan/Data
Analysis/Runs_Countries/Taiwan_Vitenam_2016/Taiwan/qPCR_vs_MiSeq/Plots
Analysis/UNITE_database
.DS_Store
.Rhistory
